{% extends "admin_base.html" %}
{% block title %}Test urinishlari{% endblock %}

{% block content %}

<h1 class="dash-title">
    "{{ test[1] }}" testini yechgan o‘quvchilar
</h1>

<table class="table">
    <tr>
        <th>#</th>
        <th>O‘quvchi</th>
        <th>Login</th>
        <th>Urinishlar soni</th>
        <th>Eng yuqori ball</th>
    </tr>

    {% for a in attempts %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ a[1] }}</td>
        <td>{{ a[2] }}</td>
        <td>{{ a[3] }}</td>
        <td>{{ a[4] }}</td>
    </tr>
    {% endfor %}
</table>

<a href="/admin/tests">
    <button class="add-btn">⬅ Ortga</button>
</a>

{% endblock %}