{% extends "admin_base.html" %}
{% block title %}Testlar{% endblock %}

{% block content %}

<h1 class="dash-title">Testlar</h1>

<div class="topbar">
    <form method="get">
        <input class="search" type="text" name="search" placeholder="Qidirish..." value="{{ search }}">
        <button class="add-btn">Qidirish</button>
    </form>

    <a href="/admin/tests/add">
        <button class="add-btn">+ Test qo‘shish</button>
    </a>
</div>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Nomi</th>
        <th>Sarlavha</th>
        <th>Vaqt (min)</th>
        <th>Min Score</th>
        <th>Savollar</th>
        <th>Urinishlar</th>
        <th>Holati</th>
        <th>Amallar</th>
    </tr>

    {% for t in tests %}
    <tr>
        <td>{{ t[0] }}</td>
        <td>{{ t[1] }}</td>
        <td>{{ t[2] }}</td>
        <td>{{ t[3] }}</td>
        <td>{{ t[4] }}</td>
        <td>{{ t[6] }}</td>
        <td>
            <a href="/admin/tests/{{ t[0] }}/attempts" class="attempt-link">
                {{ t[7] }}
            </a>
        </td>

        <td>
            {% if t[5] == "open" %}
                <span class="badge-success">Aktiv</span>
            {% else %}
                <span class="badge-danger">Noaktiv</span>
            {% endif %}
        </td>

        <td>
            <a href="/admin/tests/{{ t[0] }}/edit">✏️</a>
            <a href="/admin/tests/{{ t[0] }}/delete"
               onclick="return confirm('O‘chirishni tasdiqlaysizmi?')">❌</a>
        </td>
    </tr>
    {% endfor %}
</table>

<div class="pagination">
    {% for i in range(1, total_pages+1) %}
        <a href="?page={{ i }}&search={{ search }}"
           {% if i == page %} class="active" {% endif %}>
            {{ i }}
        </a>
    {% endfor %}
</div>

{% endblock %}